body {
    margin: 0;
background:midnightblue;
}

.container {
    display: flex;
    justify-content: space-around;
    
}
.board-title-home{
position: absolute;
width: 149px;
height: 36px;
left: 75px;
top: 50px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;
}
.board-title-guest{
position: absolute;
width: 149px;
height: 36px;
left: 340px;
top:48px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;
}

.one-home{
box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 82px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
color: #9AABD8;

box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 82px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
color: red;
}
.plus-two{
    position: absolute;
width: 30px;
height: 25.77px;
left: 143px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: red;
box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 136px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.plus-three{
    position: absolute;
width: 30px;
height: 25.77px;
left: 199px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: red;
position: absolute;
width: 45px;
height: 45px;
left: 192px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.plus-one-guest{
    position: absolute;
width: 30px;
height: 25.77px;
left: 344px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: red;
box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 337px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.plus-two-guest{
    position: absolute;
width: 30px;
height: 25.77px;
left: 398px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: red;
box-sizing: border-box;

position: absolute;
width: 45px;
height: 45px;
left: 391px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.plus-three-guest{
    position: absolute;
width: 30px;
height: 25.77px;
left: 454px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: red;
position: absolute;
width: 45px;
height: 45px;
left: 447px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
}
.home-points-text{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 127px;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    position: absolute;
    width: 155px;
    height: 120px;
    left: 81px;
    top: 60px;
    text-align: center;

    background: #080001;
    border-radius: 5px;
}
.guest-points-text{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Cursed Timer ULiL';
    font-size: 80px;
    line-height: 127px;
    color: #F94F6D;
    position: absolute;
    width: 155px;
    height: 120px;
    left: 336px;
    top: 58px;
    text-align: center;

    background: #080001;
    border-radius: 5px;
}
.container2{
    position: absolute;
    left: 220px;
    top: 350px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    text-align: center;
    color: black;
    background: green;
    font-size: 25px;
    border-radius: 50px;
}
.foul{
    position: absolute;
    left: 220px;
    top: 400px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    text-align: center;
    color: black;
    background: red;
    font-size: 25px; 
    border-radius: 50px;
}